{% extends "master.html" %}
{% block title %}
Index Perris
{% endblock %}
{% block content %}
{% for mascota in Mascotas %}
    {% load static %}
        <img src="{% static 'Perris/static'%}{{ mascota.foto }}" style="height : 100px; width : 100px;">
    {% endfor %}

    <form enctype="multipart/form-data" method= "POST">
        {%csrf_token%}
        {{form.as_p}}

        <input type="submit" value="Agregar" >
    </form>

{% endblock %}
{% block footer %}
<div class="row" style="text-align:center; background-color:grey;">
    <div class="col s4">
          <h3>
              Contacto  
          </h3>
          <p>Direccion</p>
    </div>
    <div class="col s4">
          <p>Logo</p>
    </div>
    <div class="col s4">
          <h3>links de interés</h3>
          <p>link1</p>
          <p>link2</p>
          <p>link3</p>
    </div>
</div>
{% endblock %}